::-webkit-scrollbar {
  width: 8px; /* for vertical scrollbars */
  //height: 8px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

* {
  box-sizing: border-box;
}

/*
fonts mixin
*/
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$min_width: 320px;
$max_width: 1200px;
$min_font: 12px;
$max_font: 16px;

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

$mod_1: 1.2; // mobile
$mod_2: 1.5; // desktop

h1 {
  font-size: $mod_1 * $mod_1 * $mod_1 * $mod_1 * 1rem;
  @include fluid-type(
    $min_width,
    $max_width,
    $mod_1 * $mod_1 * $mod_1 * $min_font,
    $mod_2 * $mod_2 * $mod_2 * $min_font
  );
}
h2 {
  font-size: $mod_1 * $mod_1 * $mod_1 * 1rem;
  @include fluid-type(
    $min_width,
    $max_width,
    $mod_1 * $mod_1 * $mod_1 * $min_font,
    $mod_2 * $mod_2 * $mod_2 * $min_font
  );
}
h3 {
  font-size: $mod_1 * $mod_1 * 1rem;
  @include fluid-type(
    $min_width,
    $max_width,
    $mod_1 * $mod_1 * $min_font,
    $mod_2 * $mod_2 * $min_font
  );
}
/****************************/

/***************Layout******************/
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f3f6;
}

header {
  overflow: hidden;
  background-color: #4269ea;
  padding: 20px 10px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  & a.logo {
    font-weight: bold;
    color: #f7cd22;
    text-decoration: none;
    justify-self: self-start;
  }
  & .header-right {
    display: grid;
    grid-template-columns: 11fr 1fr;
    font-weight: bold;
    text-align: center;
    & .searchBar {
      display: grid;
      grid-template-columns: 10fr 2fr;
      color: #fff;
      & i {
        justify-self: start;
        margin-left: 0.5rem;
      }
      & input {
        outline: 0;
        background: transparent;
        border: 0;
        border-bottom: 1px solid #fff;
        color: #fff;
        font-size: medium;
        text-align: center;
        &::placeholder {
          color: cornflowerblue;
        }
      }
    }
    & .cartLink {
      color: #fff;
      justify-self: end;
      text-decoration: none;
      & .total-count {
        font-size: 12px;
        background: #e82b2b;
        color: #fff;
        padding: 0 5px;
        vertical-align: top;
        margin-left: -10px;
        overflow: hidden;
        min-width: 24px;
        height: 24px;
        font-weight: 700;
        border-radius: 100%;
        border: 3px solid #fff;
        background-clip: padding-box;
      }
    }
  }
}

.wrapper {
  position: relative;
  display: grid;
  grid-template-areas:
    "filter sortBy sortBy sortBy sortBy"
    "filter products products products products";
  & .loader {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    & p {
      font-weight: bold;
      font-size: larger;
    }
  }
  & .filter {
    grid-area: filter;
    padding: 1rem;
  }
  & .sortBy {
    grid-area: sortBy;
    border-left: 1px solid #c2c3c6;
    padding-left: 1rem;
    & h4 {
      display: inline-block;
    }
    & ul {
      display: inline-block;
      list-style-type: none;
      margin: 1rem;
      padding: 0;
    }
    & li {
      display: inline;
      & a {
        padding: 1rem;
      }
    }
  }

  & .products {
    grid-area: products;
    display: grid;
    grid-template-columns: minmax(160px, 1fr) repeat(
        auto-fill,
        minmax(160px, 1fr)
      );
    grid-gap: 1rem;
    padding: 1.2rem;
    border-left: 1px solid #c2c3c6;
    & .product-item {
      display: flex;
      flex-direction: column;
      & .card-block {
        display: flex;
        flex-direction: column;
        & .card-title {
          margin: 1rem 0 1rem;
        }
        & .price-details {
          text-align: left;
          font-weight: bold;
        }
        & .add-to-cart {
          padding: 0.5rem;
          margin: 1rem;
          background: #f7ad22;
          border-radius: 2rem;
          text-decoration: none;
          color: black;
          font-weight: 800;
          text-align: center;
        }
      }
      & img.card-img-top {
        height: 200px;
        width: 100%;
        object-fit: fill;
      }
    }
  }
}

/* Style the footer */
footer {
  background-color: #4269ea;
  padding: 10px;
  text-align: center;
  color: #e4eafc;
  bottom: 0;
}
.fa-2x {
  vertical-align: middle;
}
.discountpercentage {
  color: #23a723;
}
.originalprice {
  text-decoration: line-through;
  color: #959696;
}
.finalprice {
  color: #434344;
}

.cart-section {
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  & .cart-items {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    & .cart-item {
      display: grid;
      grid-template-columns: 1fr 4fr;
      align-items: center;
      background-color: #fff;
      & .img-container {
        & img {
          justify-self: center;
          text-align: center;
        }
      }
      & .cart-details {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
        align-items: center;
        & .cart-item-details {
          padding: 0.5rem;
        }
        & .cart-item-count {
          justify-self: center;
          & .item-count {
            width: 50%;
            margin: 6px;
            height: 2rem;
            text-align: center;
          }
        }
        & .cart-item-delete {
          padding: 0.5rem;
          & .delete-item {
            border: 0;
            background: transparent;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 16px;
            cursor: pointer;
          }
        }
      }
    }
  }
  & .cart-summary {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem 1rem 1rem 0;
    & .price-summary {
      padding: 1rem;
      background: #fff;
      & h4:first-child {
        color: #959696;
        margin: 0;
        padding: 1rem 0;
        border-bottom: 1px solid #959696;
      }
      & i {
        font-weight: bold;
      }
    }
  }
}

/* Create two columns/boxes that floats next to each other */
.ui-widget.ui-widget-content {
  height: 0.5rem;
}
.ui-slider .ui-slider-handle {
  width: 1em;
  height: 1em;
}
.ui-slider-horizontal .ui-slider-range {
  background: #4269ea;
}
.ui-slider-handle {
  border-radius: 100%;
}
.notActiveSort {
  text-decoration: none;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  /* Modal Content */
  & .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;

    & .modal-body {
      padding: 2px 16px;
      label {
        display: block;
      }
    }
    & .modal-header {
      padding: 2px 16px;
      & h4 {
        margin: 0.5rem 0;
      }
      & .close {
        color: #000;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
      }
    }
    & .modal-footer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 3rem 0 0;
      & button {
        font-weight: bold;
        background-color: transparent;
        color: #4269ea;
        border: 1px solid lightgray;
        padding: 0.5rem;
        font-size: large;
      }
    }
  }
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  .wrapper {
    display: grid;
    grid-template-areas:
      "sortBy filter"
      "products products";

    & h4 {
      margin: 0;
    }
    & .filter {
      text-align: center;
      & .slider-container {
        display: none;
      }
    }
    & .sortBy {
      border-left: 0;
      padding: 1rem;
      text-align: center;
      & .sort-list {
        display: none;
      }
    }
    & .products {
      border-left: 0;
    }
  }
  .cart-section {
    display: grid;
    grid-template-columns: auto;
    & .cart-summary {
      padding: 1rem;
    }
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
  .wrapper {
    display: grid;
    grid-template-areas:
      "sortBy filter"
      "products products";

    & h4 {
      margin: 0;
    }
    & .filter {
      text-align: center;
      & .slider-container {
        display: none;
      }
    }
    & .sortBy {
      border-left: 0;
      padding: 1rem;
      text-align: center;
      & .sort-list {
        display: none;
      }
    }
    & .products {
      border-left: 0;
    }
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}
/**********
  iPad 3
  **********/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}
/***************************/
