::-webkit-scrollbar {
  width: 8px; /* for vertical scrollbars */
  //height: 8px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

* {
  box-sizing: border-box;
}

/*
fonts mixin
*/
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$min_width: 320px;
$max_width: 1200px;
$min_font: 12px;
$max_font: 16px;

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

$mod_1: 1.2; // mobile
$mod_2: 1.5; // desktop

h1 {
  font-size: $mod_1 * $mod_1 * $mod_1 * $mod_1 * 1rem;
  @include fluid-type(
    $min_width,
    $max_width,
    $mod_1 * $mod_1 * $mod_1 * $min_font,
    $mod_2 * $mod_2 * $mod_2 * $min_font
  );
}
h2 {
  font-size: $mod_1 * $mod_1 * $mod_1 * 1rem;
  @include fluid-type(
    $min_width,
    $max_width,
    $mod_1 * $mod_1 * $mod_1 * $min_font,
    $mod_2 * $mod_2 * $mod_2 * $min_font
  );
}
h3 {
  font-size: $mod_1 * $mod_1 * 1rem;
  @include fluid-type(
    $min_width,
    $max_width,
    $mod_1 * $mod_1 * $min_font,
    $mod_2 * $mod_2 * $min_font
  );
}
/****************************/

/***************Layout******************/
.filter {
  grid-area: filter;
}
.sortBy {
  grid-area: sortBy;
}
.products {
  grid-area: products;
}

.wrapper {
  display: grid;
  grid-template-areas:
    "filter sortBy sortBy sortBy sortBy"
    "filter products products products products";
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  .wrapper {
    display: grid;
    grid-template-areas:
      "sortBy filter"
      "products products";
  }
  .filter {
    height: auto !important;
    & #slider-range {
      display: none !important;
    }
  }
  .sortBy {
    display: inline-block;
    & ul {
      display: none !important;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    & li {
      display: none;
      & a {
        padding: 0;
      }
    }
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}
/**********
  iPad 3
  **********/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}
/***************************/
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f3f6;
}

header {
  overflow: hidden;
  background-color: #4269ea;
  padding: 20px 10px;
}

header a {
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
}
header a.cartLink {
  float: right;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

header a.logo {
  font-weight: bold;
  color: #f7cd22;
}

header a.active {
  background-color: #4269ea;
  color: white;
}

.header-right {
  float: right;
  color: #ffffff;
  display: inline-flex;
}

@media screen and (max-width: 500px) {
  header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

.products {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) repeat(
      auto-fill,
      minmax(160px, 1fr)
    );
  grid-gap: 1rem;
  padding: 1.2rem;
  border-left: 1px solid #c2c3c6;
}

.product-item {
  display: flex;
  flex-direction: column;
}

.discountpercentage {
  color: #23a723;
}
.originalprice {
  text-decoration: line-through;
  color: #959696;
}
.finalprice {
  color: #434344;
}
.price-details {
  text-align: left;
  font-weight: bold;
}
.card-title {
  margin: 1rem 0 1rem;
}
.card-block {
  display: flex;
  flex-direction: column;
}
img.card-img-top {
  height: 200px;
  width: 100%;
  object-fit: fill;
}
.add-to-cart {
  padding: 0.5rem;
  margin: 1rem;
  background: #f7ad22;
  border-radius: 2rem;
  text-decoration: none;
  color: black;
  font-weight: 800;
  text-align: center;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.badge-info {
  background-color: #c67605;
}
.total-count {
  font-size: 12px;
  background: #e82b2b;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px;
  overflow: hidden;
  min-width: 24px;
  height: 24px;
  font-weight: 700;
  border-radius: 100%;
  border: 3px solid #fff;
  text-align: center;
  background-clip: padding-box;
}
.cart-section {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.cart-items {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
}
.fa-2x {
  vertical-align: middle;
}
.item-count {
  line-height: 32px;
  text-align: center;
}
.cart-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr;
  align-items: center;
  background-color: #fff;
}
.cart-item img,
.cart-item .cart-item-count {
  justify-self: center;
}
.delete-item {
  border: 0;
  background: transparent;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
}
.cart-summary {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem 1rem 1rem 0;
  & .price-summary {
    padding: 1rem;
    background: #fff;
    & h4:first-child {
      color: #959696;
      margin: 0;
      padding: 1rem 0;
      border-bottom: 1px solid #959696;
    }
    & i {
      font-weight: bold;
    }
  }
}

/* Create two columns/boxes that floats next to each other */
.filter {
  height: 300px;
  padding: 1rem;
}
.ui-widget.ui-widget-content {
  height: 3%;
}
.ui-slider .ui-slider-handle {
  width: 1em;
  height: 1em;
}
.ui-slider-horizontal .ui-slider-range {
  background: #4269ea;
}
.ui-slider-handle {
  border-radius: 100%;
}

.searchBar {
  display: inline;
}

.notActiveSort {
  text-decoration: none;
}
.sortBy {
  display: inline-block;
  & ul {
    display: inline-block;
    list-style-type: none;
    margin: 1rem;
    padding: 0;
  }
  & li {
    display: inline;
    & a {
      padding: 1rem;
    }
  }
}

article {
  float: left;
  padding: 20px;
  width: 80%;
  height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #4269ea;
  padding: 10px;
  text-align: center;
  color: #e4eafc;
  bottom: 0;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav,
  article {
    width: 100%;
    height: auto;
  }
}
